---
import Link from './Link.astro';
---

<Link href='/'>
  <div
    class='monogram flex items-center justify-center w-8 h-8 text-gray-900 font-extrabold -tracking-widest rounded-full border-[3px] border-black'
  >
    JW
  </div>
</Link>
