---
import { DevIcon, GithubIcon, TwitterIcon } from './icons';
import Link from './Link.astro';
import Logo from './Logo.astro';
---

<nav class='flex justify-between px-10 py-3'>
  <div class='flex space-x-4 items-center'>
    <Logo />
    <Link href='/projects/'>Portfolio</Link>
    <Link href='/about/'>About</Link>
  </div>
  <div class='flex space-x-2 items-center'>
    <Link href='https://twitter.com/me'>
      <TwitterIcon />
    </Link>
    <Link href='https://github.com/me'>
      <GithubIcon />
    </Link>
    <Link href='https://dev.to/me'>
      <DevIcon />
    </Link>
  </div>
</nav>
